<!DOCTYPE html>
<html lang="en">

<head>
    <title>Films Catalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- REFERÊNCIA AO CSS DO BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

      <!-- CSS stylesheet  -->
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>
 
<body>
    <!-- BARRA DE NAVEGAÇÃO -->
    <nav class="navbar navbar-expand-md bg-dark fixed-top">
          <a href="/">Home</a> |
          <a href="/Dashboard">Dashboard</a> |
          <a href="FilmsCatalog">Films Catalog</a>
          <div class="nav-btn ms-auto">
              <a href="/Authentication" class="btn btn-outline-light me-2">Login</a>
              <a href="/Authentication" class="btn btn-outline-warning">Registo</a>
          </div>

    </nav>
    <br><br>
    <br><br>
      
    <h2>Dashboard</h2>
    <hr>
    <!-- área de imagens dos gráficos -->
    <div class = "row" bg-white>
        <div class = "col-md-6">
                <img src="{{ imagePlot1 | safe}}" alt="Matplotlib plot1" max-width="600px;" class = img-fluid">
        </div>
        <div class = "col-md-6">
                <img src="{{ imagePlot2 | safe }}" alt="Matplotlib plot2" max-width="600px;" class = img-fluid">
        </div>
        </p>
    </div>
   
  





  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

</body>

</html>
t