<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Films Catalog</title>
    
    <!-- CSS stylesheet  -->
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>
    <!-- BARRA DE NAVEGAÇÃO -->
    <nav class="navbar navbar-expand-md bg-dark fixed-top">
          <img src="{{ url_for('static', filename='icons/filmLogo.png') }}" alt="Logo" style=" float: left; margin: 0px 15px 15px 0px; width: 70px;">  
          <a href="/">Home</a> |
          <a href="/Dashboard">Dashboard</a> |
          <a href="FilmsCatalog">Films Catalog</a>
    </nav>
    <br><br>
    
    <h2>Films Catalog</h2>
    <hr>

  <!-- Container para renderizar o catálogo -->
    <div id="myCatalog" class="grid-container">
        {{ catalog | safe }}
    </div>








</body>
</html>
