<!DOCTYPE html>
<html lang="en">

<head>
    <title>Films Catalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- REFERÊNCIA AO CSS DO BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

      <!-- CSS stylesheet  -->
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>

<body>
    <!-- BARRA DE NAVEGAÇÃO -->
    <nav class="navbar navbar-expand-md bg-dark fixed-top">
          <img src="{{ url_for('static', filename='icons/filmLogo.png') }}" alt="Logo" style=" float: left; margin: 0px 15px 15px 0px; width: 70px;">  
          <a href="/">Home</a> |
          <a href="/Dashboard">Dashboard</a> |
          <a href="FilmsCatalog">Films Catalog</a>

          <div class="nav-btn ms-auto">
              <a href="/Authentication" class="btn btn-outline-light me-2">Login</a>
              <a href="/Authentication" class="btn btn-outline-warning">Registo</a>
          </div>
    </nav>
    <br><br>



    <!--  jumbotron  que neste exemplo contém titulos, formulário e tabela -->
    <div class="jumbotron jumbotron-fluid">
      <br><br>
      <div class="container-xl  bg-light">
        <h2>Films Catalog</h2>
        <hr>
        <!-- <hr class="my-2" />  -->

        <!-- catálogo - formulário -->
        <form class="form-inline" method="POST">
          <div class="row g-3">
            <div class="col-sm-5">
              <div class="form-group">
                <select class="form-control m-2" name="filmGenre" id="idGenre">
                    {{ sltOption|safe }}
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group m-2">
                <input id="idFilmName" type="text" placeholder="Film name" class="form-control m-2" />
              </div>
            </div>
            <div class="col-sm-4">
              <button id="btnFilter" name = "btnFilter" type="submit" class="btn btn-primary">
                FILTER
              </button>
              <button id="btnSort" name = "btnSort" type="submit" class="btn btn-primary m-2">
                SORT MOVIE
              </button>
               <button id="btnRating" name = "btnRating" type="submit" class="btn btn-primary m-2">
                SORT RATING
              </button>
            </div>
          </div>

        </form>


        <!-- tabela com exibição de dados dos Filmes (VAZIO INICIALMENTE) -->
        <hr class="my-2" />
        <p>
        <div id="filmsTable" name = "filmsTable" >
          {{ filmsTable|safe }}
        </div>
        
        </p>
      </div>
    </div>     <!-- Junbotron -->
  





  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

            
    <footer class="bg-dark text-center text-white mt-4">  
        <div class="text-center" mt-2> 
            <div> Copyright @MP ......</div>
    </footer>
</body>

</html>
t